<!DOCTYPE html>
<html lang=en>
<head>
  <title>AuraCSS - Keep It Simple</title>

  <!--Stylesheets-->

  <link rel="stylesheet" href="C:/Users/Saltylelele/Documents/GitHub/css-preset/css/style.css">
  <link rel="stylesheet" href="C:/Users/Saltylelele/Documents/GitHub/css-preset/css/media.css">
  <link rel="stylesheet" href="./static/style.css">

  <!--boxIcons  -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

  <!--Etc-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./static/scripts/script.js"></script>
</head>
<body class="">
    <nav class="top around bold">
        <div class="logocontainer">
            <i class='bx bx-area'></i>
            <h2>AuraCSS</h2>
        </div>
        <ul class="between"> 
            <li>
                <a href="">
                    <i class='bx bx-home'></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#features">
                    <i class='bx bx-detail'></i>
                    <span>Features</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-folder-open'></i>
                    <span>Documentation</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class='bx bxs-download'></i>
                    <span>Downloads</span>
                </a>
            </li>
        </ul>
        <a href="#" id="mobile" onclick="toggleMobileMenu()">
            <i class='bx bx-down-arrow'></i>
        </a>
    </nav>
    <div class="container s90">
        <div class="row">
            <!--Primary section-->
            <div class="col s75 xs-s100 s-s100 m-s100 pad-none">
                <h2>Keep it simple</h2>
                <p>This small CSS framework has a suprising amount of features for it's size. Want colums? Check! Maybe you want images on your background, essentially small banners? We got that too! Everything can easily be configured from either the primary sheet or a secondary sheet (both are available for download)</p>
                <!--Features Section-->
                <h2 id="features">Features</h2>
                <div class="col s100 pad-none">
                    <div class="row around">
                        <div class="col s33 xs-s100 s-s50 m-s50">
                            <div class="card background color s2 border round">
                                <div class="card-content txt center">
                                    <h2>Grid</h2>
                                    <p>It would not be a powerful framework without some way to have a grid!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s33 xs-s100 s-s50 m-s50">
                            <div class="card background color s2 border round">
                                <div class="card-content txt center">
                                    <h2>Styles</h2>
                                    <p>By default, you can adjust the framework to use 2 styles!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s33 xs-s100 s-s50 m-s50">
                            <div class="card background color s2 border round">
                                <div class="card-content txt center">
                                    <h2>Responsive</h2>
                                    <p>Of course AuraCSS is fully responsive. From the colums to the navbar, everything will adjust for small devices.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s33 xs-s100 s-s50 m-s50">
                            <div class="card background image border round txt color s2" style="--image: url(C:/Users/Saltylelele/Documents/GitHub/auracss-website/src/templates/static/img/card_bg.PNG)">
                                <div class="card-content txt center">
                                    <h2>Background Image Support</h2>
                                    <p>Aything can have an image as background, the easy way!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s33 xs-s100 s-s50 m-s50">
                            <div class="card background color s2 border round">
                                <div class="card-content txt center">
                                    <h2>Easy configuration</h2>
                                    <p>Everything is easily configurable! Most things can be controlled by Vars and regular CSS.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s33 xs-s100 s-s50 m-s50">
                            <div class="card background color s2 border round">
                                <div class="card-content txt center">
                                    <h2>Built-in Navigation</h2>
                                    <p>Navbars can be hard, but they do not have to be! Using the UL approach you can make a navbar in minutes!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--bonk-->
                    <h2>Why use AuraCSS?</h2>
                    <p>It's all about the right tool for the job. AuraCSS is a very simple framework, and while it does have a ton of
                        features, it is not designed to be run on supermassive sites like social media platforms. Of course, it is completely up to you!</p><br>
                    <p>This website was made completely and only with AuraCSS, with only 2 additional stylesheets: A small custom one to
                        modify AuraCSS for coloring and the Boxicon sheet for icons.</p>
                </div>
            </div>
            <!--Sidebar-->
            <div class="col s25 xs-none s-none m-none background color s2 border round"> 
                <div class="container s100">
                    <div class="row">
                        <div class="col s100 xs-none s-none txt center">
                            <h2>Latest release</h2>
                            <div class="col">
                                <img src="https://img.shields.io/github/v/release/AtherActive/auracss?style=flat-square" alt=""> <br>
                                <img src="https://img.shields.io/github/v/release/AtherActive/auracss?include_prereleases&style=flat-square" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <h2></h2>
            </div>
        </div>
    </div>
</body>
</html>