<!DOCTYPE html>
<html lang=en>
<head>
  <title>AuraCSS - A simple CSS "Framework"</title>

  <link rel="stylesheet" href="./static/auracss-v0.1.css">
  <link rel="stylesheet" href="./static/auramedia.css">
  <link rel="stylesheet" href="./static/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="">
    <nav>
        <div class="background color s1">
            <div class="row align center">
                <div class="col s100 xs-s100 s-s100 txt center">
                    <h1>AuraCSS</h1>
                    <p>A simple yet powerful CSS "Framework"</p>
                    <hr>
                </div>
            </div>
        </div>
    </nav>
    <div class="container s90">
        <div class="row">
            <!--Primary section-->
            <div class="col s75 pad-none">
                <h2>Keep it simple</h2>
                <p>This small CSS framework has a suprising amount of features for it's size. Want colums? Check! Maybe you want images on your background, essentially small banners? We got that too! Everything can easily be configured from either the primary sheet or a secondary sheet (both are available for download)</p>
                
                <h2>Features</h2>
                <div class="col s100 pad-none">
                    <div class="row around">
                        <div class="col s33">
                            <div class="card background color s2 border round">
                                <div class="card-content txt center">
                                    <h2>Grid</h2>
                                    <p>It would not be a powerful framework without some way to have a grid!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s33">
                            <div class="card background color s2 border round">
                                <div class="card-content txt center">
                                    <h2>Styles</h2>
                                    <p>By default, you can adjust the framework to use 2 styles!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s33">
                            <div class="card background color s2 border round">
                                <div class="card-content txt center">
                                    <h2>Responsive</h2>
                                    <p>Like most frameworks out there, this one is fully responsive!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sidebar-->
            <div class="col s25 xs-none s-none m-none background color s2 border round">
                <div class="container s100">
                    <div class="row">
                        <div class="col s100 xs-none s-none txt center">
                            <h2>Latest release</h2>
                            <div class="col">
                                <img src="https://img.shields.io/github/v/release/AtherActive/auracss?style=flat-square" alt=""> <br>
                                <img src="https://img.shields.io/github/v/release/AtherActive/auracss?include_prereleases&style=flat-square" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <h2></h2>
            </div>
        </div>
    </div>
</body>
</html>